<center><h1>Welcome to the Age Calculator</h1></center>
<br />
<p>A lady may never reveal her age... But if she tells us her birthday, we can do the rest!</p>
<p>Pop in your date of birth in the format DD/MM/YYY and this calculator will tell us how old you are, taking the month and day into account!</p>
<br />
<center>
<h4>AMAZING! Let's go!</h4>
<br />
<form method="get" action="/calculate_age">
  <input type="number" name="dob_day" placeholder="DD" value="<% @day %>">
  <input type="number" name="dob_month" placeholder="MM" value="<% @dob_month %>">
  <input type="number" name="dob_year" placeholder="YYYY" value="<% @dob_year %>">
  <button>CALCULATE!</button>
</form>
</center>