<center><h1>Welcome to the Basic Calculator</h1></center>
<br />
<p>This is the basic calculator. It will do calculations with two numbers and the operator required.</p>
<p>So to get started, enter your first number into the first box.</p>
<p>Pop your operator in the second box to add, subtract, multiply or divide.</p>
<p>Finally put your second number into the final box and click calculate!</p>
<br />
<center>
<h4>Simple!</h4>
<br />

<form method="get" action="/calculate">
  <input type="number" name="first_number" placeholder="first number" step="0.01" value="<% @first_number %>">
  <input type="text" name="operator" placeholder="+ - * /">
  <input type="number" name="second_number" placeholder="second number" step="0.01" value="<% @second_number %>">
  <button>CALCULATE!</button>
</form>
</center>