<h1>Let's get Calc-U-L8ing!</h1>
<br />
<p> Here are the current calculators, usable on this site.</p>
<p>The <a href="/basic_calc">Basic Calculator</a> for basic addition, subtraction, multiplication and division.</p>
<p>The <a href="/advanced_calc">Advanced Calculator</a> for square roots and power to.</p>
<p>The <a href="/age_calc">Age Calculater</a> for working out how old you are, using your full date of birth!</p>
<p>The <a href="/volume_calc">Volume Calculator</a> for calculating the volume of a 3D object.</p>