<center>
<h1>You are now using the</h1>
<h1>Super Awesome Happy Fun Times Calculator of Amazing</h1>
</center>
<br />
<p>This is very breakable... Please follow instructions correctly, else face the wrath of the internet Gods!</p>
<br />
<p>But more importantly, have fun exploring and calculating!</p>